/* components/Navbar.module.css */

.navbar {
 
background-image: linear-gradient(to left bottom, #8c8c93, #707379, #575c5e, #414445, #2c2e2e);
}

.animate {
    transition: transform 0.5s ease;
}

.animate:hover {
    transform: translateY(-10px); /* Adjust the value based on your preference */
}
